.timer-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  align-items: center;

    .button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 10px;
    height: 15px;
    position: absolute;
    top: 20%;
    left: 50%;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    // play state
    &.play{
    border-style: solid;
    border-width: 6px 0 6px 15px;
    }

    &.paused {
        border-style: double;
        border-width: 0px 0 0px 15px;
    }

    &:hover {
        border-color: transparent transparent transparent #404040;
    }
    }
    .progress-container {
    width: 30px;
    height: 30px;
    z-index: -1;
    transform: scale(.13);
            svg {
        display: block;
            margin-left: -40px;
        margin-top: -110px;
        }

        #loader {
        fill: #0088cc;
        }

        #border {
        fill: #00517a;
        }
    }
}




